/* Banner js */

.banner {
  padding: 16em 0 13em 0;
  background-attachment: scroll;
  background-image: url("./aboutComponents/images/orientation.JPG");
  background-position: center top;
  background-size: cover;
  line-height: 1.75;
  text-align: center;
}

  .banner h2 {
    color: #ffffff;
    display: inline-block;
    font-size: 100px;
    line-height: 1.35;
    margin-bottom: 200px;
  }


/* Description js */

.descript {
  height: 100%;
}

.head {
font-size: 50px;
font-family: cursive;
color:black;
text-align: center
}

.content {
display: flex;
margin: auto;
padding: 50px;
width: 70%;
align-items: center;
text-align: center;
font-size: large;
}

/* Meet Team js */

.team {
  background-color: #AEC6CF;
}

.columns {
  box-sizing: border-box;
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
} 

.card {
  font-size: auto; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: blanchedalmond;
}

.details {
padding: 0 16px;
height: 150px;
}

/* Clear floats */
.details:after, .row:after {
content: "";
clear: both;
display: table;
}