/* Banner js */

.banner {
  padding: 16em 0 13em 0;
  background-attachment: scroll;
  background-image: url("./images/orientation.JPG");
  background-position: center top;
  background-size: cover;
  line-height: 1.75;
  text-align: center;
}

  .banner h2 {
    color: #ffffff;
    display: inline-block;
    font-size: 100px;
    line-height: 1.35;
  }


/* Description js */

.descript {
  height: 100vh;
}

.head {
padding-top: 40px;
padding-bottom: 20px;
font-size: 50px;
font-family: cursive;
color:black;
text-align: center
}

.content {
display: flex;
margin: auto;
width: 70%;
align-items: center;
text-align: center;
font-size: large;
border: 10px solid;
padding: 10px;
border-image: url(./images/border.png) 30% round;
}

/* Meet Team js */

.container {
  background-color: #AEC6CF;
  width: 100%;
}

.col-sm-3 {
  padding-bottom: 10px;
}

.card {
  background-color: #ffffba;
  height: 550px;
  margin-bottom: 10px;
}
