/* Banner */

body.is-touch #abanner {
    background-attachment: scroll;
 }
 
 #abanner {
    position: relative;
    height: 100vh;
    padding-top: 50vh;
    padding-bottom: 50vh;
    background-image:  url("../../styles/css/images/overlay.png"), url("../../images/ibsa_p1.jpg");
    background-position: center top;
    background-size: cover;
    line-height: 1.75;
    text-align: center;
 }
 
    #abanner:last-child {
       margin-bottom: 0;
    }
 
    #abanner h2 {
       color: #ffffff;
       display: inline-block;
       font-size: 4.0em;
       line-height: 1.35;
       margin-bottom: 0.0em;
    }
 
    #abanner p {
       color: #aaa;
       font-size: 1.5em;
       margin-bottom: 1.75em;
       text-transform: uppercase;
    }
 
    @media screen and (max-width: 1280px) {
 
          #abanner h2 {
             font-size: 2.5em;
          }
 
    }
 
    @media screen and (max-width: 736px) {
 
          #abanner br {
             display: none;
          }
 
          #abanner h2 {
             font-size: 2.25em;
          }
 
          #abanner p {
             font-size: 1.25em;
          }
 
    }
 
    @media screen and (max-width: 480px) {
 
    }

.card-container {
   border-radius:1em;
   width: 50%;
   height: auto;
   box-shadow: 10px 10px 5px;
   padding-bottom: 1em;
   max-width: 22.5%;
   margin: 2em 2em;
}
   @media screen and (max-width : 700px) {
      .card-container {
         min-width:80%;
         margin: 2em 2em;
      }
   }
   @media screen and (max-width : 1024px) {
      .card-container {
         box-shadow: 7.5px 7.5px 3.725px;
         max-width: 40%;
      }
   }