/* Events */
#events {
   display: block;
   padding-top: 10em;
}

      #events #current-events  h2 {
         position: relative;
         text-align: center;
      }

   #events #past-events {
      text-align: center;
      padding-top: 2em;
      padding-bottom: 2em;
   }

   @media screen and (max-width: 1024px) {
      #events {
         padding-top:122px;
      }
   }

#popover-trigger-click-root-close {
   padding: 3em 2em 3em 2em;
}

   #popover-trigger-click-root-close img {
      max-width: 15em;
      padding: 0.5em 1em 0.5em 1em;
   }

   #popover-trigger-click-root-close button {
      background-color: lightgray;
      text-align: center;
      margin-left: 2em;
      margin-right: 2em;
   }

      #popover-trigger-click-root-close button:hover {
         background-color:#000;
      }

   #popover-trigger-click-root-close button a {
      text-decoration: none;
   }

.upcoming-event-carousel {
   width: 65%;
   margin: 0 auto;
   margin-top: 2em;
}
   @media screen and (max-width: 1024px) {
      .upcoming-event-carousel {
         width: 80%;
      }
   }

   @media screen and (max-width: 480px) {
      .upcoming-event-carousel {
         width: 100%;
      }
   }

.carousel-items-container {
   width: 100%;
   display: flex;
}
